{% extends 'page/base.html' %}

{% block title %} {{ object.name }} {% endblock %}

{% block breadcrumbs %}
<nav role="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li class="active">{{ object.name }}</li>
    </ol>
  </div>
</nav>
{% endblock %}


{% block content %}
  <h1 class="page-header">{{ object.name }}</h1>
  <div class="group-view">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#attendance" aria-controls="attendance" role="tab" data-toggle="tab">Посещаемость</a></li>
      <li role="presentation"><a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">Успеваемость</a></li>
      <li role="presentation"><a href="#coursework" aria-controls="coursework" role="tab" data-toggle="tab">Курсовые работы</a></li>
      <li role="presentation"><a href="#graduatework" aria-controls="graduatework" role="tab"{% if final_thesis_data %} data-toggle="tab"{% endif %}>Дипломные работы</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- TAB ATTENDANCE -->
      <div role="tabpanel" class="tab-pane active" id="attendance">
        {% include 'group/attendance.html' %}
      </div>
      <!-- TAB PROGRESS -->
      <div role="tabpanel" class="tab-pane" id="progress">
        {% include 'group/progress.html' %}
      </div>
      <!-- TAB COURSEWORK -->
      <div role="tabpanel" class="tab-pane" id="coursework">
        {% include 'group/thesis.html' %}
      </div>
      <!-- TAB GRADUATEEWORK -->
      <div role="tabpanel" class="tab-pane" id="graduatework">
        {% include 'group/final_thesis.html' %}
      </div>
    </div>
  </div>
  <script>
  (function(){
    var self = this;


    $(document).ready(function() {
      // Init attendance_table
      self.attendanceTable = new self.AttendanceTable({
        table: $('#attendance_table')
      });
      // ----------------------------------

      // Init progress_table
      self.progressTable = new self.Table({
        table: $('#progress_table')
      });
      // ----------------------------------

      // Init coursework_table
      self.courseworkTable = new self.WorkTable({
        table: $('#coursework_table')
      });
      // ----------------------------------

      // Init coursework_table
      self.graduateworkTable = new self.WorkTable({
        table: $('#graduatework_table')
      });
      // ----------------------------------

      // Localize datepicker
      $.fn.datepicker.dates['ru'] = {
          days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
          daysShort: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
          daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
          months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
          monthsShort: ["Янв", "Фев", "Март", "Апр", "Май", "Ин", "Ил", "Авг", "Снт", "Окт", "Ноя", "Дек"],
          today: "Сегодня",
          clear: "Сбросить",
          format: "dd/mm/yyyy",
          titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
          weekStart: 1
      };
      $('.date').datepicker({
          language: 'ru'
      });
      // ----------------------------------
    })
  })(this)

  </script>
{% endblock %}
