{% extends 'page/base.html' %}

{% block title %} МОТС-11 {% endblock %}

{% block breadcrumbs %}
<nav role="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li class="active">{{ object.name }}</li>
    </ol>
  </div>
</nav>
{% endblock %}


{% block content %}
  <h1 class="page-header">{{ object.name }}</h1>
  <div class="group-view">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#attendance" aria-controls="attendance" role="tab" data-toggle="tab">Посещаемость</a></li>
      <li role="presentation"><a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">Успеваемость</a></li>
      <li role="presentation"><a href="#coursework" aria-controls="coursework" role="tab" data-toggle="tab">Курсовые работы</a></li>
      <li role="presentation"><a href="#graduatework" aria-controls="graduatework" role="tab" data-toggle="tab">Дипломные работы</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- TAB ATTENDANCE -->
      <div role="tabpanel" class="tab-pane active" id="attendance">
        <div class="content-attendance">
          <div class="top-controls">
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Показывать только % пропусков
                    </label>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="sort-by">
                  <div class="form-group">
                    <label for="sort">Сортировать по</label>
                    <select class="selectpicker">
                      <option>Пропускам(возрастание)</option>
                      <option>Пропускам(убывание)</option>
                      <option>Алфавиту</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="filter-by">
                  <form class="form-inline">
                    <div class="form-group">
                      <label>Семестр</label>
                      <select class="selectpicker">
                        <option>1 семестр</option>
                        <option>2 семестр</option>
                        <option>3 семестр</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div class="form-group">
                        <label for="subject">Предмет</label>
                        <input type="email" class="form-control" id="subject" placeholder="Название предмета">
                      </div>
                      <button type="submit" class="btn btn-default">Поиск</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-3">
                <div class="date-by">
                  <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group date" data-provide="datepicker">
                          <input type="text" id="from_date" class="form-control" placeholder="C">
                          <div class="input-group-addon">
                              <span class="glyphicon glyphicon-th"></span>
                          </div>
                      </div>
                    </div>
                    <span class="divider">-</span>
                    <div class="form-group">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" id="to_date" class="form-control" placeholder="По">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="main-table" id="attendance_table">
            <table data-toggle="table"
            data-fixed-columns="true"
      data-fixed-number="1"
            >
                <thead>
                  <tr>
                      <th data-field="student_name" rowspan="2">ФИО студента/ Дисциплина</th>
                      {% for subject in data.subjects %}
                        <th data-field="subject" colspan="{{ subject.lessons.all|length|add:'1' }}">{{ subject.subject.name }}</th>
                      {% endfor %}
                  </tr>
                  <tr>
                    {% for subject in data.subjects %}
                      {% for lesson in subject.lessons.all %}
                      <th data-field="lesson_date">{{ lesson.date|date:"d.m.Y" }}</th>
                      {% endfor %}
                      <th data-field="attendance_percent">%</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for student in data.students %}

                    <tr>
                      <td data-field="student"><span class="count">{{ forloop.counter }}. </span>{{ student.student.last_name }} {{ student.student.first_name }}
                        {% if forloop.counter == 4 %}
                          <i class="fa fa-star" aria-hidden="true"></i>
                        {% endif %}
                      </td>
                        {% for subject in student.subjects %}
                          {% for lesson in subject.attendance %}
                          <td>{{ lesson.attended|yesno:"+,-" }}</td>
                          {% endfor %}
                          <td>%</td>
                        {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      <!-- TAB PROGRESS -->
      <div role="tabpanel" class="tab-pane" id="progress">
        <div class="content-progress">
          <div class="progress-controls">
            <div class="row">
              <div class="col-md-4">
                <div class="sort-by">
                  <div class="form-group">
                    <label for="sort">Сортировать по</label>
                    <select class="selectpicker">
                      <option>Средний балл(возрастание)</option>
                      <option>Средний балл(убывание)</option>
                      <option>Алфавиту</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="filter-by">
                  <form class="form-inline">
                    <div class="form-group">
                      <label>Семестр</label>
                      <select class="selectpicker">
                        <option>1 семестр</option>
                        <option>2 семестр</option>
                        <option>3 семестр</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="main-table" id="coursework_table">
            <table data-toggle="table">
              <thead>
                <tr>
                  <th data-field='progress_student' rowspan="2">ФИО студента</th>
                  <th data-field='progress_score' rowspan="2">Средний балл</th>
                  <th data-field='progress_pass' colspan="2">Зачеты</th>
                  <th data-field='progress_examen' colspan="2">Экзамены</th>
                </tr>
                <tr>
                  <th data-field="sunbject_progress">ФОПФ</th>
                  <th data-field="sunbject_progress">Графическое моделирование</th>
                  <th data-field="sunbject_progress">Методы исследования эффективности функционирования ОТС</th>
                  <th data-field="sunbject_progress">Конструирование</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-field="student">
                    <span class="count">1. </span>
                    Затулина Эмилия
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">2. </span>
                    Кондратьев Евсей
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">3. </span>
                    Наумов Игорь
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">4. </span>
                    Конягин Селиверст
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">5. </span>
                    Кочетков Елисей
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">6. </span>
                    Львов Аггей
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">7. </span>
                    Сидорова Казимира
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">8. </span>
                    Затулина Эмилия
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">9. </span>
                    Герасимова Роза
                  </td>
                  <td data-field="progress_score">3.4</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- TAB COURSEWORK -->
      <div role="tabpanel" class="tab-pane" id="coursework">
        <div class="content-coursework">
          <div class="courswork-controls">
            <div class="row">
              <div class="col-md-4">
                <div class="sort-by">
                  <div class="form-group">
                    <label for="sort">Сортировать по</label>
                    <select class="selectpicker">
                      <option>Прогресс(возрастание)</option>
                      <option>Прогресс(убывание)</option>
                      <option>Алфавиту</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="filter-by">
                  <form class="form-inline">
                    <div class="form-group">
                      <label>Семестр</label>
                      <select class="selectpicker">
                        <option>1 семестр</option>
                        <option>2 семестр</option>
                        <option>3 семестр</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="main-table" id="coursework_table">
            <table data-toggle="table">
              <thead>
                <tr>
                  <th data-field='coursework_student'>ФИО студента</th>
                  <th data-field='coursework_name'>Тема курсовой работы</th>
                  <th data-field='coursework_reviewer'>Научный руководитель</th>
                  <th data-field='coursework_progress'>Прогресс</th>
                  <th data-field='coursework_date'>Дата обновления</th>
                  <th data-field='coursework_grade'>Оценка</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-field="student">
                    <span class="count">1. </span>
                    Затулина Эмилия
                  </td>
                  <td>
                    Исследование возможностей 3-х координатного станка Optimum BF20 Vario
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
                        35%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>1.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">2. </span>
                    Кондратьев Евсей
                  </td>
                  <td>
                    Изучение принципов работа  координатно-измерительны машин для оценки точности изготовленных деталей
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
                        15%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.03.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">3. </span>
                    Наумов Игорь
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </td>
                  <td>
                    Изучение способов определения свойств материалов на экспериментальном стенде СМ-2
                  </td>
                  <td>
                    Блюменштейн А.А.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        75%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">4. </span>
                    Конягин Селиверст
                  </td>
                  <td>
                    Управление нормативно-справочной информацией на основе MDM-систем
                  </td>
                  <td>
                    Кондратьева А.С.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        80%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>17.05.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">5. </span>
                    Кочетков Елисей
                  </td>
                  <td>
                    Исследование возможногстей ПО Tecnomatix Machine Configurator
                  </td>
                  <td>Гисметулин А.Р.</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        100%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>11.02.2013</span>
                  </td>
                  <td>
                    <span><b>4</b></span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">6. </span>
                    Львов Аггей
                  </td>
                  <td>
                    Имитационное моделирование бизнес-процессов авиастроительного предприятия
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">7. </span>
                    Сидорова Казимира
                  </td>
                  <td>
                    Использование системы оперативного управления производством на авиастроительном предприятии
                  </td>
                  <td>
                    Блюменштейн А.А.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        40%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">8. </span>
                    Затулина Эмилия
                  </td>
                  <td>
                    Исследование  возможностей применения современных САПР ТП в условиях механообрабатывающего производства
                  </td>
                  <td>
                    Кондратьева А.С.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                        55%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>10.04.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">9. </span>
                    Герасимова Роза
                  </td>
                  <td>
                    Параметры производственного процесса цехов-изготовителей авиастроительного предприятия (на примере цеха МКП)
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        0%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- TAB GRADUATEEWORK -->
      <div role="tabpanel" class="tab-pane" id="graduatework">
        <div class="content-graduatework">
          <div class="courswork-controls">
            <div class="row">
              <div class="col-md-4">
                <div class="sort-by">
                  <div class="form-group">
                    <label for="sort">Сортировать по</label>
                    <select class="selectpicker">
                      <option>Прогресс(возрастание)</option>
                      <option>Прогресс(убывание)</option>
                      <option>Алфавиту</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-table" id="coursework_table">
            <table data-toggle="table">
              <thead>
                <tr>
                  <th data-field='graduatework_student'>ФИО студента</th>
                  <th data-field='graduatework_name'>Тема дипломной работы</th>
                  <th data-field='graduatework_reviewer'>Научный руководитель</th>
                  <th data-field='graduatework_progress'>Прогресс</th>
                  <th data-field='graduatework_date'>Дата обновления</th>
                  <th data-field='graduatework_grade'>Оценка</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-field="student">
                    <span class="count">1. </span>
                    Затулина Эмилия
                  </td>
                  <td>
                    Исследование возможностей 3-х координатного станка Optimum BF20 Vario
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
                        35%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>1.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">2. </span>
                    Кондратьев Евсей
                  </td>
                  <td>
                    Изучение принципов работа  координатно-измерительны машин для оценки точности изготовленных деталей
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
                        15%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.03.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">3. </span>
                    Наумов Игорь
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </td>
                  <td>
                    Изучение способов определения свойств материалов на экспериментальном стенде СМ-2
                  </td>
                  <td>
                    Блюменштейн А.А.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        75%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">4. </span>
                    Конягин Селиверст
                  </td>
                  <td>
                    Управление нормативно-справочной информацией на основе MDM-систем
                  </td>
                  <td>
                    Кондратьева А.С.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        80%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>17.05.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">5. </span>
                    Кочетков Елисей
                  </td>
                  <td>
                    Исследование возможногстей ПО Tecnomatix Machine Configurator
                  </td>
                  <td>Гисметулин А.Р.</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        100%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>11.02.2013</span>
                  </td>
                  <td>
                    <span><b>4</b></span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">6. </span>
                    Львов Аггей
                  </td>
                  <td>
                    Имитационное моделирование бизнес-процессов авиастроительного предприятия
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">7. </span>
                    Сидорова Казимира
                  </td>
                  <td>
                    Использование системы оперативного управления производством на авиастроительном предприятии
                  </td>
                  <td>
                    Блюменштейн А.А.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        40%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">8. </span>
                    Затулина Эмилия
                  </td>
                  <td>
                    Исследование  возможностей применения современных САПР ТП в условиях механообрабатывающего производства
                  </td>
                  <td>
                    Кондратьева А.С.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                        55%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>10.04.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td data-field="student">
                    <span class="count">9. </span>
                    Герасимова Роза
                  </td>
                  <td>
                    Параметры производственного процесса цехов-изготовителей авиастроительного предприятия (на примере цеха МКП)
                  </td>
                  <td>
                    Евсеев А.Н.
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        0%
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>21.02.2013</span>
                  </td>
                  <td>
                    <span>&nbsp;</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  </script>
{% endblock %}
