.main-table {
  th.student_name {
    width: 200px;
  }
  .fa-star {
    color: #f1c100;
    font-size: 11px;
    position: relative;
    top: -6px;
  }
  th.lesson_date {
    font-size: 11px;
  }
  th.subject {
    background-color: rgba(195, 194, 194, 0.1);
  }
  td {
    background-color: #fff;
  }
  span.non {
    display: block;
    text-align: center;
    color: #999999;
  }
  td.att-percent {
    &.red {
      color: #FF0000;
      font-weight: bold;
    }
    &.orange {
      color: #FF9900;
      font-weight: bold;
    }
    &.yellow {
      color: #FFCC00;
      font-weight: bold;
    }
    &.green {
      color: #339933;
      font-weight: bold;
    }
  }
  span.pass {
    font-style: italic;
  }
  span.grade {
    font-weight: bold;
  }
  th.subject {
    font-size: 11px;
    background: rgba(194, 193, 193, 0.1);
  }
  th.attendance_date {
    font-size: 11px;
  }
}

/*Fix bootstrap fixed table column*/
.fixed-table-header-columns {
  th.student_name {
    height: 81px !important;
    vertical-align: bottom;
  }
}

.fixed-table-body-columns {
  top: 82px !important;
  z-index: 1;
}

.bootstrap-table {
  overflow: hidden;
}

/* Coursework/graduatework table */
.main-table {
  th.coursework_name,
  th.graduatework_name {
    max-width: 375px;
    min-width: 375px;
  }
  th.coursework_student,
  th.graduatework_student {
    max-width: 215px;
    min-width: 215px;
  }
  th.coursework_progress,
  th.graduatework_progress {
    min-width: 340px;
  }
  th.coursework_date,
  th.graduatework_date {
    width: 177px;
  }
}

/*Progress table*/
.main-table {
  th.sunbject_progress {
    font-size: 11px;
    background-color: rgba(195, 194, 194, 0.1);
  }
  td.progress_score,
  th.progress_score {
    background-color: #E6FFEA;
    font-weight: bold;
    width: 140px;
  }
}
.top-controls {
  margin-top: 20px;
  margin-bottom: 10px;
  .checkbox {
    padding-left: 20px;
    margin-top: 6px;
    margin-bottom: 0;
  }
}
