.tab-content {
  div[class^='content'] {
    padding: 15px 0;
  }
  .sort-by {
    .bootstrap-select {
      width: 125px;
    }
  }
}

/*Верхние фильтры*/
.top-controls {
  .form-group, .checkbox {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  .filter-by {
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 110px;
    }
    .subject-select .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 300px;
    }
  }
  .date-by {
    text-align: right;
    .divider {
      width: 20px;
      text-align: center;
      display: inline-block;
      position: relative;
      left: 5px;
    }
  }
  .date {
    width: 140px;
  }
}
